<IfModule mod_rewrite.c>
    RewriteEngine on
    Options -MultiViews
    RewriteBase /be
    RewriteRule ^(.*)$ index.php [QSA,L]
    RewriteCond %{REQUEST_FILENAME} !-f
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>


