<IfModule mod_rewrite.c>
    RewriteEngine on
    Options -MultiViews
    RewriteRule ^login(.*)$ /be/index.php [L]
    RewriteRule ^bundles/(.*)$ /be/bundles/$1 [R=301,NC,L]
    RewriteCond %{REQUEST_FILENAME} -s [OR]
    RewriteCond %{REQUEST_FILENAME} -l [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [NC,L]
    RewriteRule ^(.*) /index.php [NC,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>